<!doctype html>
<html>
<head>
    <title>Moments</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   
</head>
<body>

         <nav>
            <div class="nav-wrapper #607d8b blue-grey">
              <a href="/newMoment" class="brand-logo">Logo</a>
              <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" href="/newMoment"> + Moment </a></li>
                <li><a class="waves-effect waves-light btn" href="/moments">Moments</a></li>
                <li><a class="waves-effect waves-light btn" href="/logout">Log Out</a></li>

              </ul>
            </div>
          </nav>


        <!-- New memory -->


        <div class="row valign-wrapper">
          <form class="col s12">
            <div class="row valign-wrapper">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">What made you feel good today?</label>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
        

 
                


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>